/* Common */
* {
  font-family: "Lexend", "Prompt", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(40, 57%, 92%);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  max-height: 100vh;
}

/* Navbar */
.ynt-navbar {
  background-color: hsl(217, 38%, 28%);
}

.ynt-navbar-logo {
  color: hsl(10, 61%, 49%);
}

.ynt-navbar-link {
  color: hsl(10, 61%, 49%);
}

@media screen and (min-width: 993px) {
  #ynt-navbar-small {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #ynt-navbar-normal {
    display: none;
  }
}

.ynt-navbar-logo:hover,
.ynt-navbar-link:hover {
  color: rgb(149, 209, 204);
}

.ynt-navbar-logo:active,
.ynt-navbar-link:active {
  color: rgb(25, 25, 25);
}

/* Welcome Section */
#welcome-img {
  background-image: url(./img/50536383_502646970257994_2265639177565503488_n.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

@media (min-width: 993px) {
  #welcome-img {
    margin-top: 48px;
  }
}

.welcome-container {
  position: relative;
  width: auto;
  background-color: black;
}

.welcome-text h1,
.welcome-text h2 {
  color: rgb(236, 219, 186);
}

.home-button,
#forward-button-1 {
  transition: all 0.5s;
  cursor: pointer;
}

.home-button:hover {
  background-color: #adaaaa;
  padding-right: 25px;
}

.home-button:active {
  background-color: #adaaaa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.home-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.home-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.home-button:hover span::after {
  opacity: 1;
}

/* About Me Section */
.aboutme-pic {
  border-radius: 2rem !important;
  width: 50%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .aboutme-pic {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .aboutme-pic {
    width: 90%;
  }

  #carouselExampleControls {
    width: 60%;
    display: flex;
  }
}

@media (max-width: 767px) {
  .aboutme-content-1 {
    margin-bottom: 8px !important;
  }

  #biography-list {
    margin-top: 12px;
  }

  .aboutme-pic {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 992px) {
  .aboutme-content-2,
  .aboutme-content-3,
  .aboutme-content-4 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }

  .grouptext-list,
  #education-list,
  .certification-carousel {
    margin-top: 18px;
  }

  #my-biography,
  #education-history,
  #my-certification {
    margin-top: 0px !important;
    padding-top: 8px !important;
  }
}

.aboutme-pic:hover {
  animation: fade 5s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.aboutme-text-2 {
  border-bottom: 3px solid black;
  padding-bottom: 18px;
}

.aboutme-content-2,
.aboutme-content-3,
.aboutme-content-4 {
  display: none;
}

#forward-button-1:hover,
#forward-button-2:hover,
#forward-button-3:hover,
#backward-button-1:hover,
#backward-button-2:hover,
#backward-button-3:hover {
  background-color: #adaaaa;
}

#forward-button-1:active,
#forward-button-2:active,
#forward-button-3:active,
#backward-button-1:active,
#backward-button-2:active,
#backward-button-3:active {
  background-color: #adaaaa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.certification-carousel {
  width: 80%;
}
/* Skills Section */
/* .column {
  float: left;
  width: 50%;
}

.skills-pic {
  width: 14rem;
}

.skills-pic img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.skills-pic:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
} */

/* Clear floats after the columns */
/* .row {
  display: flex;
}

.column {
  flex: 50%;
} */

/* Projects Section */
/* .custom-carousel .carousel-caption {
  position: relative;
  right: 0%;
  bottom: 1.25rem;
  left: 0%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white !important;
  text-align: center;
  width: 100%;
  background-color: #0047ab;
}

.carousel-captiontext {
  color: white;
} */

/*Blog Section */
/* .wrapper-blog-pic {
  position: relative;
  max-height: 100%;
  overflow: hidden;
} */

/* Contact Section */
.button-text {
  color: white;
  text-decoration: none !important;
}

.contact-item {
  margin-right: 12px;
  width: 16px;
}

.contactme-link {
  color: hsl(10, 61%, 49%);
  text-decoration: none;
}
