/* Common Variable */
/* General */
* {
  font-family: "Lexend", "Prompt", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6eedf;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  max-height: 100vh;
}

@media (max-width: 576px) {
  body {
    overflow: auto;
  }
}

/* Navbar Section */
.ynt-navbar {
  background-color: #2c4163;
}

.ynt-navbar-logo {
  color: #c94a31;
}

.ynt-navbar-logo :hover {
  color: #8fdbd5;
}

.ynt-navbar-logo :active {
  color: #191919;
}

.ynt-navbar-link {
  color: #c94a31;
}

.ynt-navbar-link :hover {
  color: #8fdbd5;
}

.ynt-navbar-link :active {
  color: #191919;
}

@media (max-width: 992px) {
  #ynt-navbar-normal {
    display: none;
  }
}

@media (min-width: 993px) {
  #ynt-navbar-small {
    display: none;
  }
}

/* Welcome Section */
.welcome-container {
  position: relative;
  width: auto;
  background-color: black;
}

#welcome-img {
  background-image: url(./img/50536383_502646970257994_2265639177565503488_n.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

@media (min-width: 993px) {
  #welcome-img {
    margin-top: 48px;
  }
}

.welcome-text h1,
.welcome-text h2 {
  color: #ecdbba;
}

.home-button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.home-button :hover {
  background-color: #adaaaa;
  padding-right: 25px;
}

.home-button :active {
  background-color: #adaaaa;
  -webkit-box-shadow: 0 5px #666;
  box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.home-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home-button :hover span::after {
  opacity: 1;
}

.forward-button-1 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  left: 42.5%;
}

.backward-button-3 {
  position: relative;
  left: 40%;
}

/* About Me Section */
.aboutme-pic {
  border-radius: 2rem !important;
  width: 50%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .aboutme-pic {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .aboutme-pic {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #carouselExampleControls {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 576px) {
  .aboutme-title {
    margin-top: 0px !important;
    padding-top: 8px !important;
  }
}

@media (max-width: 767px) {
  .aboutme-content-1 {
    margin-bottom: 8px !important;
  }
}

@media (max-width: 767px) {
  .aboutme-pic {
    width: 50%;
    height: 100%;
  }
}

.aboutme-pic :hover {
  -webkit-animation: fade 5s infinite;
  animation: fade 5s infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@media (max-width: 767px) {
  #biography-list {
    margin-top: 12px;
  }
}

.aboutme-content-2,
.aboutme-content-3,
.aboutme-content-4 {
  display: none;
}

@media (max-width: 992px) {
  .aboutme-content-2,
  .aboutme-content-3,
  .aboutme-content-4 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
}

@media (max-width: 992px) {
  .grouptext-list,
  #education-list {
    margin-top: 18px;
  }
}

.certification-carousel {
  width: 80%;
}

@media (max-width: 992px) {
  .certification-carousel {
    margin-top: 18px;
  }
}

@media (max-width: 992px) {
  #my-biography,
  #education-history,
  #my-certification {
    margin-top: 0px !important;
    padding-top: 8px !important;
  }
}

.aboutme-text-2 {
  border-bottom: 3px solid black;
  padding-bottom: 18px;
}

.forward-button-1:hover,
.backward-button-1:hover {
  background-color: #adaaaa;
}

.forward-button-1:active,
.backward-button-1:active {
  background-color: #adaaaa;
  -webkit-box-shadow: 0 5px #666;
  box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.forward-button-2:hover,
.backward-button-2:hover {
  background-color: #adaaaa;
}

.forward-button-2:active,
.backward-button-2:active {
  background-color: #adaaaa;
  -webkit-box-shadow: 0 5px #666;
  box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.forward-button-3:hover,
.backward-button-3:hover {
  background-color: #adaaaa;
}

.forward-button-3:active,
.backward-button-3:active {
  background-color: #adaaaa;
  -webkit-box-shadow: 0 5px #666;
  box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

/* Skills Section */
.skills-list li {
  padding-top: 18px;
}

@media (max-width: 576px) {
  .skills-list {
    margin-top: 0px !important;
  }
}

.toolbox-list li {
  padding-top: 18px;
}

.toolbox-list span {
  padding-left: 20px;
}

@media (max-width: 576px) {
  .toolbox-list {
    margin-top: 0px !important;
  }
}

@media (max-width: 991px) {
  #skills-title {
    padding-top: 0px !important;
    margin-top: 28px !important;
  }
}

/* Projects Section */
/* .custom-carousel .carousel-caption {
  position: relative;
  right: 0%;
  bottom: 1.25rem;
  left: 0%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white !important;
  text-align: center;
  width: 100%;
  background-color: #0047ab;
}

.carousel-captiontext {
  color: white;
} */
/* Blog Section */
/* .wrapper-blog-pic {
  position: relative;
  max-height: 100%;
  overflow: hidden;
} */
/* Contact Section */
.button-text {
  color: white;
  text-decoration: none !important;
}

.contact-item {
  margin-right: 12px;
  width: 16px;
}

.contactme-link {
  color: #c94a31;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */
