/* Common */
* {
  font-family: "Lexend", "Prompt", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar-brand {
  position: relative;
  left: 3%;
}

.nav {
  position: relative;
  right: 3%;
}

.nav-link {
  color: white;
  padding: 0px 18px;
}

@media screen and (min-width: 769px) {
  .navbar-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-main {
    display: none;
  }

  .menu-list .nav-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.navbar-bg {
  background-color: #0047ab;
}

.navbar-logo {
  color: white;
}

/* Welcome Section */
.welcome-container {
  position: relative;
  width: auto;
}

.bgimg-1 {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
}

.welcome-grouptext {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding-top: 25%;
  text-align: center;
}

.welcome-container:hover .welcome-grouptext {
  opacity: 1;
}

.welcome-container:hover .bgimg-1 {
  opacity: 0.5;
}

@media (min-width: 1025px) and (max-width: 1385px) {
  .welcome-grouplink {
    font-size: 16px;
    margin: 0rem;
  }

  .welcome-pic {
    width: 48px;
  }

  .welcome-grouptext {
    padding-top: 5%;
  }

  .welcome-text1 {
    font-size: 48px;
  }

  .welcome-text2 {
    font-size: 56px;
  }

  .welcome-text3 {
    font-size: 28px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .welcome-grouptext {
    padding-top: 5%;
  }
}

@media (max-width: 768px) {
  .welcome-grouptext {
    padding-top: 5%;
  }

  .welcome-text1 {
    font-size: 16px;
  }

  .welcome-text2 {
    font-size: 16px;
  }

  .welcome-text3 {
    font-size: 14px;
  }

  .welcome-pic {
    width: 24px;
  }

  .welcome-grouplink-text2 {
    font-size: 16px;
    margin: 0rem;
  }
}

/* About Me Section */
.aboutme-pic {
  border-radius: 2rem !important;
}

.aboutme-pic:hover {
  opacity: 0.5;
}

.aboutme-text {
  border-bottom-left-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
}

.aboutme-bg {
  background-color: burlywood;
}

@media (max-width: 768px) {
  .aboutme-text {
    text-align: center;
  }
}

/* Skills Section */
.column {
  float: left;
  width: 50%;
}

.skills-pic {
  width: 14rem;
}

.skills-pic img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.skills-pic:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Clear floats after the columns */
.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* Projects Section */
.custom-carousel .carousel-caption {
  position: relative;
  right: 0%;
  bottom: 1.25rem;
  left: 0%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white !important;
  text-align: center;
  width: 100%;
  background-color: #0047ab;
}

.carousel-captiontext {
  color: white;
}

/* Contact Me Section */
.button-text {
  color: white;
  text-decoration: none !important;
}

/* Footer Section */
.footer-bg {
  background-color: #0047ab;
}

.footer-text {
  color: white;
}
